@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ServiceSection)Model.Content;
    var settings = Model.Settings as ContentModels.ServiceSettings;

    var sectionColor = settings?.ServiceBgColor?.Color ?? "#ffffff";

    var current = Umbraco.AssignedContentItem;
    var siteRoot = current?.Root();
    var servicePage = siteRoot?.Children<ServicePage>()?.FirstOrDefault();
    var items = servicePage?.Children<ServiceDetail>()?.OrderByDescending(x => x.CreateDate).ToList() ?? [];
}

<section class="py-[4rem] bg-[@sectionColor]">
    <div class="max-w-7xl mx-auto px-4">
        <div class="flex flex-col gap-2 items-center">

            @if (settings!.ShowServiceLabel)
            {
                <h2 class="text-[.875rem] text-secondary font-bold uppercase">@content.ServiceLabel</h2>
            }
            <div class="rte">@Html.Raw(content.ServiceTitle)</div>
        </div>

        <div class="mt-5 grid grid-cols-3 gap-4">

            @if (items.Any())
            {
                @foreach (var item in items)
                {
                    <div class="bg-neutral border-2 border-white-100 w-full min-h-[350px] overflow-hidden transition-all hover:border-secondary hover:shadow-[0_4px_15px_rgba(0,0,0,0.1)]">
                        <a href="@item.Url()" class="block no-underline">
                            <h4 class="p-[1.5rem] font-semibold text-primary">@item.Name</h4>
                            <img src="@(item.ServiceDetailThumbnail?.Url() ?? "~/images/Risk-Management.svg")" class="block w-full h-[220px] object-cover" />
                            <p class="text-sm p-[1.5rem]">@item.ServiceDetailExcerpt</p>
                        </a>
                    </div>
                }
            }
            else
            {
                <p>No Services Available</p>
            }


        </div>
    </div>
</section>